init-script/
target/
*.orig
*.html
*.dot
*.iml
lib/
classes/
checkouts/
.generated/
repl/
.nrepl-history
out/
.boot/
.pom.xml
.pom.xml.asc
.macrolog.txt
*.jar
*.class
.DS_Store
.lein-env
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
*~
.idea/
